body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 5px;
}

h2 {
  margin: 0;
}

#heading {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

textarea {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  width: 100%;
  resize: none;
  font-size: 16px;
}

#outputArea {
  background-color: black;
  height: 100px;
  color: white;
}

#submit {
  margin: 10px;
}

#submitButton {
  padding: 5px;
  color: black;
  background-color: yellow;
  cursor: pointer;
}

#btn:hover {
  background-color: lightyellow;
}
