#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 10px;
  height: 50px;
}

#title {
  color: white;
  font-weight: bold;
}

#user-name {
  padding: 0px 5px;
  margin: 0px 5px;
}

#user-avatar {
  padding: 0px 5px;
  margin: 0px 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
}

#user-avatar {
  object-fit: cover;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}
