*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: blueviolet;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

.btn {
  padding: 5px;
  margin: 5px;
  background-color: #0069ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#main-heading {
  background-color: teal;
  padding: 0.5rem;
  color: white;
  flex: 10%;
}

#two-box {
  display: flex;
  flex-direction: row;
  flex: 90%;
}

#left-div {
  background-color: lightgrey;
  flex: 40%;
}

#left-div-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

#left-div-heading > button {
  padding: 5px;
  margin: 0px 5px;
  flex: 40%;
}

#left-div-heading > input {
  padding: 5px;
  margin: 0px 5px;
  flex: 60%;
}

#left-div-question-panel {
  background-color: lightskyblue;
}

#right-div {
  background-color: whitesmoke;
  flex: 60%;
  display: flex;
  flex-direction: column;
}

#right-div-question-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

#right-div-question-form > h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

#right-div-question-form > p {
  font-weight: bold;
  margin: 5px;
}

#right-div-question-form-items > div {
  margin: 5px;
}

#right-div-question-form-items > button {
  margin: 5px;
  border: none;
}

#right-div-question-resolve-form {
  height: 100%;
  background-color: red;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}

#question {
  flex: 25%;
}

#right-div-question-panel {
  background-color: lightcoral;
}

#right-div-question-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionBtn {
  flex: 1;
}

#response {
  flex: 25%;
}

#add-response {
  flex: 50%;
}
