body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

h1,
h2 {
  margin: 0;
}

.btn {
  padding: 5px;
  margin: 5px;
  background-color: #0069ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#main-heading {
  background-color: #333446;
  padding: 0.5rem;
  color: #eeeeee;
  flex: 10%;
}

#two-box {
  display: flex;
  flex-direction: row;
  flex: 90%;
}

#left-div {
  background-color: #1c1d31;
  flex: 40%;
}

#left-div-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

#left-div-heading > button {
  padding: 5px;
  margin: 0px 5px;
  flex: 40%;
}

#left-div-heading > input {
  padding: 5px;
  margin: 0px 5px;
  flex: 60%;
}

#left-div-question-panel {
  background-color: #333446;
  color: #e0e0e0;
  overflow: auto;
}

#quesHeadingNode,
#commentHeadingNode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  color: gold;
  margin: auto 5px;
  padding: 5px;
}

#right-div {
  background-color: #1c1d31;
  flex: 60%;
  display: flex;
  flex-direction: column;
}

#right-div-question-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  overflow: auto;
  background-color: #333446;
  color: #e0e0e0;
}

#right-div-question-form > h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

#right-div-question-form > p {
  font-weight: bold;
  margin: 5px;
}

#right-div-question-form-items > div {
  margin: 5px;
}

#right-div-question-form-items > button {
  margin: 5px;
  border: none;
}

#right-div-question-resolve-form {
  height: 100%;
  background-color: #1c1d31;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: none;
  color: #e0e0e0;
}

#question {
  flex: 25%;
}

#right-div-question-panel {
}

#right-div-question-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#commentUtilityBtnNode {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.questionBtn {
  flex: 1;
}

#response {
  flex: 25%;
}

#right-div-response-panel {
}

#add-response {
  flex: 50%;
}

.dynamicNode {
  background-color: #333446;
  color: #e0e0e0;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
