<link rel="stylesheet" href="/css/header.css" />
<div id="header">
  <div id="title"><h1>E-Commerce</h1></div>
  <div id="user-info">
    <% if(user) { %>
    <div id="user-name"><%= user.name %></div>
    <img id="user-avatar" src="<%= user.avatar %>" />

    <form action="/destroy-session" method="GET">
      <button id="signout-btn" class="btn">Sign Out</button>
    </form>
    <% } else { %>
    <a href="/auth">
      <button id="signin-btn" class="btn">Login</button>
    </a>
    <% } %>
  </div>
</div>

<script src="/js/header.js"></script>
