body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#leftPaneDiv {
  flex: 1;
  background-color: wheat;
  height: 100vh;
  width: 100vw;
  padding: 1.2rem;
}

#rightPaneDiv {
  flex: 1;
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  padding: 1.2rem;
}

#taskContainer {
  padding: 1rem;
  background-color: yellow;
}

.taskDiv {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 10px;
}

.taskPara {
  font-size: 1.2rem;
}

.tastDeleteBtn {
}

.taskEditBtn {
}

.taskReadBtn {
}

.taskDiv:hover {
  background-color: lightyellow;
}

.btn {
  padding: 0.3rem;
  width: 75px;
}

#textArea::placeholder {
  font-size: 40px;
}
