<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/todo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Todo App</title>
  </head>
  <body>
    <div id="container">
      <div id="leftPaneDiv">
        <%- include("./partials/_header", {name: name}) %>

        <h2>Task List</h2>
        <h4>
          Add Tasks to your list by typing to your right and pressing enter.
          <br />
          You may then view pending tasks below.
        </h4>
        <div id="taskContainer">
          <% for ( let i = 0 ; i < todos.length ; i++) { %> <%-
          include("./partials/_task", {todo: todos[i]}) %> <% } %>
        </div>
      </div>

      <div id="rightPaneDiv">
        <form action="/save-todo" method="POST" enctype="multipart/form-data">
          <div id="textAreaDiv">
            <textarea
              name="taskText"
              id="textArea"
              cols="30"
              rows="10"
              placeholder="I need to..."
            ></textarea>
          </div>

          <div id="imageUploadDiv">
            <input type="file" name="taskImage" />
            <input type="submit" value="Upload" class="btn" id="upload-btn" />
          </div>
        </form>
      </div>
    </div>
    <script src="js/todo.js"></script>
  </body>
</html>
